.table-wrap {
  position: relative;
  border:solid 1px white;
}

.table-wrap.border {
  border: solid 1px white;
}

.table-wrap > .table {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  border-spacing: 0;
  border-collapse: collapse;
}

.cell {
  height: 4px;
  width: 4px;
  text-align: center;
  vertical-align: center;
  position: relative;
}

.cell.border {
  border: solid 1px white;
}

.cell-index {
  color: lightgray;
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: 12px;
}
